

	<style>
		<meta charset="utf-8">
		
		<title>Escape Salon</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700' rel='stylesheet' type='text/css'>

		* {
			box-sizing: border-box;
		}
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			font-family: Helvetica, "sans-serif";
		}

		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, 
		blockquote:after,
		q:before, 
		q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		nav {
			margin: 0 auto;
			width:100%;
			height: 100%;
			margin-top: 5%;
		}
		nav ul {
			list-style-type: none;
		}

		body {
			background-color: black;
		}

		/*global*/

		.clearfix {
			overflow: auto;
		}

		/*typography*/
		
		html {
			font-size: 12px;
		}

		h1 {
			font-size: 3rem;
			color:white;
		}

		h2 {
			font-size: 2rem;
			color:white;
		}

		p {
			font-size; 1.5rem;
			font-family:'Roboto';
			font-weight: 400;
		}


		/* NAV */
		.nav-button {
			position: fixed;
			z-index: 100;
			width: 12px;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 1.1em;
			word-break:break-all;
			text-transform:uppercase;
			text-align: center;
			color: #ccc;
		}

		.about {
			top: 5%;
			left: 6%;
			width: 12px;
			float:left;
			font-weight: bold;
		}

		.staff {
			top: 5%;
			right: 6%;
			width: 12px;
			float: right;
			font-weight: bold;
		}

		.services {
			top: 50%;
			left: 6%;
			width: 12px;
			float:left;
			font-weight: bold;
		}

		.contact {
			top: 50%;
			right: 6%;
			width: 12px;
			float: right;
			font-weight: bold;
		}

		/*logo image index page*/

		.logo-home {
			margin: 0 auto;
			width: 30%;
			top: 10%;
			max-width: 200px;
		}

		.logoimg {
			width: 100%;
			max-width: 200px;
			margin: 0 auto;
		}

		.container p{
			width: 65%;
			margin: 0 auto;
			font-size: 1.2rem;
			line-height: 140%;
			max-width:800px;
			padding: 3%;
			color: #ddd;
			background-color: rgba(192,192,192,.5);
		}

		.homebutton {
			margin: 0 auto;
			top: 5%;
			width: 30%;
			max-width: 400px;
		}

		.escapename {
			margin:0 auto;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			width: 70%;
			max-width: 400px;
			padding-bottom: 2%;
			padding-top: 2%;
			letter-spacing: 3px;
			border-bottom: 1px dashed #ddd;
		}

		/*stafflist*/

		.people {
			margin:0 auto;
			width:70%;
		}

		.people h3 {
			text-align: center;
			margin: 0 auto;
			padding-top: 2%;
			padding-bottom: 2%;
			border-bottom: 1px dashed #ccc;
			margin-bottom: 3%;
			color:#ccc;
			width:100%;
			max-width: 400px;
		}

		.stafflist {
			margin: 0 auto;
			color:white;
			line-height: 150%;
			font-size: 1.2rem;
			max-width: 400px;
			display:block;
		}

		.person li{
			margin: 5% auto;
			padding: 2%;
			background-color: rgba(192,192,192,.5);
			text-align: center;	

		}

		.person ul{
			margin: 0 auto;
		}

		.number {
		}

		/*servicespage*/

		.hair {
			margin: 0 auto;
			width: 70%;
			max-width: 400px;
			margin: 2% auto;
		}

		.hair ul{
			padding: 3%;
			color: #ddd;
			background-color: rgba(192,192,192,.5);
			font-size: 1.2rem;
			line-height: 140%;
		}

		.hair h3 {
			margin: 0 auto;
			text-align: center;
			color:#ccc;
			font-size: 1.3rem;
			border-bottom: 1px dashed #ccc;
			padding-top: 0; 
			width: 100%;
			padding-bottom: 2%;
		}

		.skin {
			margin: 0 auto;
			width: 70%;
			max-width: 400px;
			margin: 2% auto;
		}

		.skin ul{
			padding: 3%;
			color: #ddd;
			background-color: rgba(192,192,192,.5);
			font-size: 1.2rem;
			line-height: 140%;
		}

		.skin h3 {
			margin: auto;
			text-align: center;
			color:#ccc;
			font-size: 1.3rem;
			border-top: 1px dashed #ccc;
			border-bottom: 1px dashed #ccc;
			padding-top: 2%; 
			padding-bottom: 2%;
			width: 100%;
		}

		.nails {
			margin: 0 auto;
			width: 70%;
			max-width: 400px;
			margin-bottom: 4%;
		}

		.nails ul{
			margin: 2% auto;
			padding: 3%;
			color: #ddd;
			background-color: rgba(192,192,192,.5);
			font-size: 1.2rem;
			line-height: 140%;
		}

		.nails h3 {
			margin: auto;
			text-align: center;
			color:#ccc;
			font-size: 1.3rem;
			border-top: 1px dashed #ccc;
			border-bottom: 1px dashed #ccc;
			padding-top: 0; 
			width: 100%;
			padding-top: 2%; 
			padding-bottom: 2%;
		}
		

		/*contact*/

		.map {
			margin:0 auto;
			width:70%;
			max-width: 400px;
			text-align: center;
			background-color: rgba(192,192,192,.5);
		}

		.address {
			padding-bottom: 3%;
			margin-top:3%;
			color: white;
		}

		.map h3 {
			color: #ccc;
			padding: 3%;
		}

		/*links*/

		a:visited{
			color:white;
		}

		.people a{
			color:white;
		}


		/*media screen to center lists*/
		@media screen and (min-width: 500px) {
		

		}


		/*media screen shit*/
		@media screen and (min-width:800px){
			/*re-style css for screen less than 800px */
			html { font-size: 14px; 
			}

			p {
				-webkit-column-count: ;
				column-count: 
			}

			
		}

		@media screen and (min-width: 1024px){
			html {
				font-size: 16px
			}
		}


	</style>