

	<style>
		<meta charset="utf-8">
		
		<title>Escape Salon</title>
		
		* {
			box-sizing: border-box;
		}

		html, body, nav, h1, h2, h3, h4, h5, h6 {
			padding: 0;
			margin: 0;
			font-family: helvetica;
		}

		nav {
			margin: 0 auto;
			width:100%;
			height: 100%;
			margin-top: 5%;
		}
		nav ul {
			list-style-type: none;
		}

		body {
			background-color: black;
		}


		/* NAV */
		.nav-button {
			position: fixed;
			z-index: 100;
			width: 12px;
			line-height: 0.9 em;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 1.1em;
			word-break:break-all;
			text-transform:uppercase;
			text-align: center;
			color: #ccc;
		}

		.about {
			top: 5%;
			left: 5%;
			width: 12px;
			float:left;
		}

		.services {
			top: 5%;
			right: 5%;
			width: 12px;
			float: right;
		}

		.staff {
			bottom: 50%;
			left: 5%;
			width: 12px;
			float:left;
		}

		.contact {
			bottom: 50%;
			right: 5%;
			width: 12px;
			float: right;
		}

		/* Home page Main */
		.logo {
			margin: 0 auto;
			width: 70%;
			height: 100%;
			padding: 2%;
			text-align: center;
			margin-top: 30%;
			color: white;
		}

	</style>